.dropdowncommentbutton {
  font-size: 20px;
  margin-left: 10px;
}
.dropdowncommentbutton:hover {
  color: lightslategray;
}

.removeSubsSpan:hover {
  color: rgb(136, 62, 62);
}
.removeSubsSpan {
  cursor: pointer;
  color: red;
}
.cursorPointer {
  cursor: pointer;
}
#settingLink:hover {
  color: gray;
}

.hoverBlue:hover {
  color: blue;
}
.category:hover {
  background-color: #5bc0de;
}
.category:active {
  background-color: #0275d8;
}
.hoverGreen:hover {
  color: green;
}
.stayPosition {
  position: fixed;
}
.body{
  background-color: white;
  height: 100%;
}