.dropdowncommentbutton {
  font-size: 20px;
  margin-left: 10px;
}
.dropdowncommentbutton:hover {
  color: lightslategray;
}

.removeSubsSpan:hover {
  color: rgb(136, 62, 62);
}
.removeSubsSpan {
  cursor: pointer;
  color: red;
}
